*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "light-blue";
}

.container{
    height: 100px;
    flex-flow: row wrap;
    display: flex;
    gap: 5px
}
.container .box{
    width: 100px;
    flex-grow: 1;
    /* flex-basis: 100px; */
    background-color: rgb(72, 179, 255);
}

